{% extends 'index.html' %}
{% block head%}<title>Dashboard</title>{% endblock %}
{% block dash %} 
     <main id="main" class="main">

        <div class="pagetitle">
          <h1>Dashboard</h1><br>
         
    
        <section class="section dashboard">
          <div class="row">
    
            <!-- Left side columns -->
            <div class="col-lg-8">
              <div class="row">
    
                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">
                    
                    <div class="card-body">
                      <h5 class="card-title">Shops </h5>
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-shop"></i>
                        </div>
                        <div class="ps-3">
                          <h6>No: {{numshop}}</h6>
                          <span class="text-dark small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Sales Card -->
    
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                  <div class="card info-card revenue-card">
                    <div class="card-body">
                      <h5 class="card-title">Location </h5>
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-geo-alt"></i>
                        </div>
                        <div class="ps-3">
                          <h6>No: {{numlocation}}</h6>
                          <span class="text-dark small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Revenue Card -->
    
                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                    <div class="card-body">
                      <h5 class="card-title">Products </h5>
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-window-dock"></i>
                        </div>
                        <div class="ps-3">
                          <h6>No: {{numprod}}</h6>
                          <span class="text-dark small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Customers Card -->
    
                <!-- Reports -->
               
              </div>
            </div><!-- End Left side columns -->
    
            <!-- Right side columns -->
            <div class="col-lg-4">
    
              <!-- Recent Activity -->
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Recent Activity </h5>
                </div>
              </div><!-- End Recent Activity -->
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Reports </h5>
                </div>
              </div>
            </div><!-- End Right side columns -->
          </div>
        </section>
    
      </main><!-- End #main -->

 {% endblock %}     