
    {% extends 'base.html' %}

    {% block head%}<title>Main</title>{% endblock %}
    {% block body %} 
    <div>
        <header id="header" class="header fixed-top d-flex ">
           <div class="d-flex align-items-center justify-content-between">
             <a href="index.html" class="logo d-flex align-items-center">
               <img src="{{ url_for('static',filename='logo.png') }}" alt="">
               <span class="d-none d-lg-block">START's Inventory</span>
             </a>
           </div>
               <nav class="header-nav ms-auto ">
                 <a  href="/signin"><button class="btn btn-light" id="sign-btn">signin</button></a>
               </nav><!-- End Icons Navigation -->
         </header>
             <div class="slogan">
                <b><p>Inventory management for Retailers</p></b> 
             </div>
             <div class="benifit">
               <p>Inventory refers to the goods stocked for future use.<br> 
                Every retail chain has its own warehouse to stock the merchandise to<br>
                be used when the existing stock replenishes.</p>
                  <a  href="/signin"><button class="btn btn-dark" id="sign-btn">Get started</button></a>
             </div>
    <div id="image">
    
     
      <img src="{{ url_for('static',filename='Metrics.png') }}"></img>
    </div>
     </div>

<!--Chat bot script-->
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "01ebdd1a-1a11-43a6-a065-ed2662bdcf2b", // The ID of this integration.
    region: "jp-tok", // The region your integration is hosted in.
    serviceInstanceID: "9a500ac7-1766-402a-b00d-22ffeef87956", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });

</script>

    {% endblock %}

    